/* Menu hamburguesa */
.panel-btn {
  display: none;
}

@media screen and (max-width: 843px) {
  .panel-btn {
    color: var(--green);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 2vw;
    width: 5.5rem;
    height: 5.5rem;
   background-color: var(--green);
    border-radius: 50%;
  }

  .panel {
    position: fixed;
    min-width: 100%;
    min-height: 100vh;
    text-align: center;
    z-index: 997;
    top: 0;
    right: -19px;
    background-color: var(--main-color);
    transition: transform 0.3s ease;
    transform: translate(100%, 0);
    /* transform: translate(0, -100%); */
    /* transform: translate(-100%, 0); */
    /* transform: translate(0, 100%);*/
  }

  .panel.is-active {
    display: flex;
    transform: translate(0, 0);
    width: 35rem;
    padding: 3rem 3rem;
    align-items: flex-start;
    text-align: left;
  }
}
