.header {
  width: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  padding: 0 18px;
  transition: all 0.9s;
  display: flex;
  justify-content: center;
}

.header__container {
  display: flex;
  align-items: center;
  width: 60%;
  min-width: 84rem;
  height: 8.2rem;
  justify-content: space-between;
  background: rgba( 25, 30, 41, 0.85 );
  box-shadow: 0 1px 1px 0 var(--green);
  backdrop-filter: blur( 19px );
  -webkit-backdrop-filter: blur( 19px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 0 2rem;
}

.logo__link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.logo__link h2{
  color: var(--green);
  font-size: 2rem;
}

.logo__link img {
  display: flex;
  align-items: center;
  width: 5rem;
}

.header__nav__menu {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  min-width: 52rem;
}
.header__nav__menu ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}

.menu__list a{
  display: block;
  list-style: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: var(--second-color);
  font-size: 1.5rem;
}
.menu__list a:hover{
  color: var(--green);
  transition: 0.3s ease-in-out;
}
.header__menu-link {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  padding: 1rem;
}
.header__menu-link:hover  {
  background-color: var(--gray);
  border-radius: 5px;
}

.header__social__media {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--green);
  padding: 0;
  margin: 0;
}

.header__icon__link i {
  font-size: 2.4rem;
  color: var(--blue);
}

@media screen and (max-width: 1000px) {
  

  .header__nav__menu {
    width: 73%;
    display: flex;
    justify-content: flex-start;
    
  }

  .header__menu-link {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 843px) {
  .header__container{
    width: 100%;
    padding: 0 2rem;
    min-width: 100%;
  }
  .header__nav__menu{
    min-width: unset;
  }

  
  .header__nav__menu ul {
    justify-content: center;
    flex-direction: column;
    gap: 4.5rem;
  }
  .header__menu-link:hover {
    background-color: transparent;
  }
  .menu__list .header__menu-link {
    font-size: 2rem;
    color: var(--green);
    padding: 0;
  }
  .menu__list .header__menu-link:hover {
    font-size: 4rem;
    color: var(--second-color);
  }

  .header__social__media {
    display: flex;
    justify-content: space-around;
    width: unset;
    align-items: center;
  }
}
