:root {
  --main-color: rgb(3, 3, 3);
  --second-color: rgb(241, 241, 241);
  --background-color: #191E29;
  --secundary-background:#132D46;
  --blue: rgb(90, 208, 219);
  --gray: rgb(29, 29, 29);
  --gray-secundary:#696E79;
  --green: #01C38D;

}

html {
  /* With this font-size, a "rem" will be equal to 10px */
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
